faiss-cpu
transformers
sentence_transformers
sqlalchemy>=2.0.4
fastapi
uvicorn
rank_bm25
atlassian-python-api
beautifulsoup4
python-dotenv
slack_sdk
pydantic
python-multipart
posthog
fastapi-restful
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
oauth2client
mammoth
python-pptx
alembic